{% extends "account/signup.html" %}

{% block content %}
<div class="flex-1 p-8 ml-64">
  <div class="max-w-md mx-auto bg-base-100 p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Password Reset Email Sent</h2>
    <p class="text-center">
      We have sent you an email with instructions on how to reset your password. If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
    </p>
    <div class="mt-4 text-center">
      <p><a href="{% url 'account_login' %}" class="text-primary">Return to login</a></p>
    </div>
  </div>
</div>
{% endblock %}