{% if is_sender or message.sender == request.user %}

<div class="chat chat-end">
    <div class="chat-image avatar">
        <div class="w-10 rounded-full">
            <img
                alt="user's dp"
                src="{{ is_sender.userprofile.display_pictures.url }}"
                class="rounded-full"
            />
        </div>
    </div>

    <div class="chat-bubble bg-blue-500 text-white max-w-md">
        {{ message.content }}
        <div class="text-xs opacity-50 mt-1">
            {{ message.timestamp|date:"H:i" }}
        </div>
    </div>
</div>

{% else %}

<div class="chat chat-start">
    <div class="chat-image avatar">
        <div class="w-10 rounded-full">
            <img
                alt="user dp"
                src="{{ is_sender.userprofile.display_pictures.url }}"
                class="rounded-full"
            />
        </div>
    </div>

    <div class="chat-bubble bg-gray-200 text-black max-w-md">
        <div class="text-xs text-cyan-500 font-semibold">
            {{ message.sender.username }}
        </div>
        {{ message.content }}
        <div class="text-xs opacity-50 mt-1">
            {{ message.timestamp|date:"H:i" }}
        </div>
    </div>
</div>

{% endif %}