{% extends 'base.html' %}


{% block content %}

<h1>Chat Room: <span id="room-name">{{room_name}}</span></h1>
<div id="Chat-log"></div>
<input type="text" placeholder="Type yout message here..." id="chat-message-input">
<input type="button" value="Send" id="chat-message-submit">


<script>
    // Get room name from the template
    const roomName = document.getElementById('room-name').innerText;

    // create a webSocket connection
    const chatSocket = new WebSocket(
        `ws://${window.location.host}/ws/chat/${roomName}/`
    )

    // Handle incoming messages
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data)
        const chatLog = document.querySelector('#chat-log');

        // create a new message element
        const messageElement = document.createElement('div');
        messageElement.innerText = data.message;

        // Aooend the message to the chat log
        charLog.appendChild(messageElement);

        // Scroll to the bottom of the chat log
        chatLog.scrollTop = chatLog.scrollHeight;
    };

    // Handle websocket errors
    chatSocket.onclose = function (e){
        console.error('Chat socket closed unexpectedly');
    }

    // Send message when the send button is clicked
    document.querySelector('#chat-message-submit').onclick =function(e){
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom;

        // Send the message over the websocket
        chatSocket.send(JSON.stringify({
            'message': message
        }))

        // clear the input field
        messageInputDom.value = '';
    };

    // Send message when Enter key is pressed 
    document.querySelector('#chat-message-input').onkeyup = function(e){
        if (e.keyCode === 13) {
            document.querySelector('chat-message-submit').click();
        }
    };
</script>
{% endblock %}